[elasticsearch-{{ elasticsearch_major_version }}]
name=Elasticsearch repository for {{ elasticsearch_major_version }} packages
baseurl=http://packages.elastic.co/elasticsearch/{{ elasticsearch_major_version }}/centos
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
